.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        & > div {
            margin-left: 3rem;
        }

        & ul {
           margin-top: 1rem; 
           font-size: 1rem;
           
        }
        & a {
            color: rgba($dark-blue, .7);
            margin-bottom: .6rem;
            transition: all .4s;

            &:hover {
                color: rgba($dark-blue, 1);
            }
        }
    }
}

@media(max-width: 992px) {
    .footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
        &__wrapper {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            & > div {
                margin-top: 2rem;
            }
        }
    }
}