.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;

    &__wrapper {
        display: flex;
        justify-content: flex-end;

        & > div {
            margin-left: 3rem;
        }

        & ul {
           margin-top: 1rem; 
           font-size: 1rem;
           
        }
        & a {
            color: rgba($dark-blue, .7);
            margin-bottom: .6rem;
            transition: all .4s;

            &:hover {
                color: rgba($dark-blue, 1);
            }
        }
    }
}