.header {
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    background: $aquamarine;
    z-index: 3;
    

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: calc((6rem - 4.5rem) / 2);
        padding-bottom: calc((6rem - 4.5rem) / 2);

    }

    &__mobile {
        display: none;
    }
    &__close {
        display: none;
        font-size: 5rem;
        color: $dark-blue;
        position: absolute;
        top: 0;
        right: 1.5rem;
        cursor: pointer; 
    }
}

.logo {
    display: flex;
    align-items: center;

    & > img {
        max-width: 4.5rem;
        height: 100%;
        margin-right: 1.5rem;
    }

    &__title {
        font-weight: 900;
        color: $light;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 2.5rem;
        transition: all .4s;
    }

    &:hover {
        .logo__title {
            color: $goldy;
        }
    }

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s;
    
    & a {
        color: $light;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 700;
        font-style: italic;
        transition: all .4s;

        &:hover {
            color: $goldy;
        }
    }
    & > li:first-child {
        margin-right: 1.5rem;
    }
    &__item {
        &-btn {
            background: $goldy;
            border-radius: 5rem;
            padding: .5rem 1.5rem;
            transition: all .4s;

            &_outer {
                padding: .15rem;
                background: linear-gradient(to bottom, #87bdcf, $dark-blue);
                margin: 0 1.5rem;
                border-radius: 5rem;
                transition: all .4s;

                &:hover {
                    
                    box-shadow: 0 1rem 1.5rem 0 rgba(#87bdcf, 0.45);
                }
                
            }
            
        }
    }
}
a.menu__item-btn {
    color: $dark-blue;
    transition: all .4s;

    &:hover {
        color: $aquamarine;
    }
    &:active {
        color: $dark-blue;
    }
}
.burger {
    display: none;
    justify-content: space-between;
    width: 2.5rem;
    height: 2.2rem;
    right: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer; 

    & > span {
        display: block;
        width: 100%;
        height: .4rem;
        position: relative;
        background-color: $dark-blue; 
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: .4rem;
        left: 0;
        bottom: 0;
        background-color: $dark-blue; 
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: .4rem;
        left: 0;
        top: 42%;
        background-color: $dark-blue; 
    }
}

@media (max-width: 992px) {
    .header {
        width: 0;
        &__mobile {
            display: block;
            padding-top: .5rem;
            padding-bottom: .5rem;
            background: $aquamarine;

            &_wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &__wrapper {
            flex-direction: column;
            justify-content: flex-start;
            position: fixed;
            margin-top: 0;
            top: 0;
            left: 0;
            background: $aquamarine;
            min-height: 100vh;
            width: 100vw;
            padding: 3rem 3rem 6rem;
            z-index: 5;
            transform: translateX(-110%);
            transition: all .4s; 

            & .logo {
                flex-direction: column;
            
                & > img {
                    margin-right: 0;
                    margin-bottom: .5rem;
                }
            }

            
        }
        
        &__close {
            display: block; 
        }
        .menu {
            flex-direction: column;

            & a {
                font-size: 1.5rem;
            }
            & > li:first-child {
                margin-right: 0;
            }
            & > li {
                margin-top: 1.8rem;
            }
            & a.menu__item-btn {
                text-align: center;
            }
        }

        
    }
    .burger {
        display: flex;
    }

    .active .header__wrapper {
        transform: translateX(0);
    }
    
}
@media (max-width: 420px) {
    .header {

        &__mobile {
            display: block;
            padding-top: .5rem;
            padding-bottom: .5rem;
            background: $aquamarine;

            &_wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .logo > img {
                max-width: 4rem;
                margin-right: .6rem;
            }
            .logo__title {
                letter-spacing: .3rem;
                font-size: 2.3rem;
            }
        }
    }
    .burger {
        display: flex;
    }
}