* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

html {
    font-size: 1vw;
}

body {
    font-size: 1rem;
    line-height: 1.2;
    color: $dark-blue;
    background-color: #fff;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
a,
button{
	outline: 0;
	border: none;
	cursor: pointer;
}
a {
	text-decoration: none;
    display: inline-block;
}
ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;

}
address {
	font-style: normal;
}
img {
	max-width: 100%;
	height: auto;
}

input {
    border: none;
    outline: none;
    font-size: 1rem;
}

hr {
    display: block;
    width: 70%;
    margin: 0 auto;
    opacity: .5;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.fw700 {
    font-weight: 700;
}

.mb {
    margin-bottom: 1.5rem;
}
.mbm {
    margin-bottom: 1rem;
}

.privacy-policy {
    display: none; 

    & .privacy-policy__wrapper {
        background: $light;
        color: $dark-blue;
        padding: 3rem 2rem;
        border-radius: 1rem;
        width: 65vw; 
    }
} 
.popup-large {
    // display: none;
    // overflow: visible;
    border-radius: 1rem;
}
.popup {
    display: none;
    border-radius: .5rem;

    &__title {
        text-align: center;
        margin-bottom: 1rem; 
    }

    & > form {
        padding: 3rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center; 

        & input {
            padding: 1rem;
            border-radius: 5rem;
            border: .1rem solid rgba($dark-blue, .5);
            font-size: 1rem;
            color: $dark-blue;
            margin-bottom: 1rem;
            // transform: translateX(15%);
        }
        & button {
            padding: 1.3rem;
            border-radius: 5rem;
            background: $aquamarine;
            color: $light;
            font-size: 1rem;
            transition: all .4s;

            &:hover {
                box-shadow: 0 1rem 1rem 0 rgba($aquamarine, .45); 
                color: $goldy;
            }
        }
    }
}
.fancybox-content {
    padding: 0; 
}

@media(max-width: 992px) {
    html {
        font-size: 14px;
    }
    .container {
        width: 90vw;
    }
}